{% extends "frontend/base.html.twig" %}

{% block body %}
<h1 class="h3 mb-3 font-weight-normal col-12">Connectez-vous</h1>
<section class="col-12">
        {{ form_start(form) }}
            {{ form_row(form.email) }}
            <div class="form-group text-right">
                <button class="btn btn-sm btn-primary" type="submit">
                    Valider
                </button>
            </div>
        {{ form_end(form) }}
</section>
{% endblock %}
