{% extends "frontend/base.html.twig" %}

{% block body %}
<h1 class="h3 my-3 text-center col-12">Réinitialisation du mot de passe</h1>
<section class="col-lg-6 col-md-10 col-sm-12 bg-primary p-2 rounded text-white mx-auto">
        {{ form_start(form) }}
            {{ form_row(form.password) }}
            <div class="form-group text-right">
                <button class="btn btn-sm btn-success" type="submit">
                    Valider
                </button>
            </div>
        {{ form_end(form) }}
</section>
{% endblock %}
