{% extends "frontend/base.html.twig" %}
{% import "partials/tricks.macro.html.twig" as _Tricks %}
{% block body %}
<section class="col-12" id="homepage-section">
    <h1 class="h3 text-white m-2">SnowTricks</h1>
    <blockquote class="blockquote text-white">
        <p>
            Texte d'accroche
        </p>
    </blockquote>
    <div id="homepage-arrow" class="arrow-link">
        <i class="fa fa-arrow-down"></i>
    </div>
</section>
<section class="col-12 mb-3 hide" id="trick-container" data-length="{{ tricks|length }}">
    <div class="row justify-content-center">
        {{ _Tricks.tricksMacro(tricks) }}
    </div>
</section>
{% endblock %}