{% extends "frontend/base.html.twig" %}
{% import "partials/tricks.macro.html.twig" as _Tricks %}
{% block body %}
<section class="col-12" id="homepage-section">
    <h1 class="h2 my-2">SnowTricks</h1>
    <blockquote class="blockquote">
        <p class="font-weight-bold">
            Bienvenue sur SnowTricks !<br />
            SnowTricks est une plateforme dédiée au SnowBoard, elle a pour but de faire découvrir ce sport et d'y répértorié des figures destinées à l'apprentissage.
        </p>
    </blockquote>
    <div id="homepage-arrow" class="arrow-link">
        <i class="fa fa-arrow-down"></i>
    </div>
</section>
<section class="col-12 mb-3 hide" id="trick-container" data-length="{{ tricks|length }}">
    <div class="row justify-content-center">
        {{ _Tricks.tricksMacro(tricks) }}
    </div>
</section>
{% endblock %}