{% extends "frontend/base.html.twig" %}
{% block body %}
<h1 class="h3 my-3 col-12 text-center">Bienvenue !</h1>
<alert class="alert-success col-lg-6 col-sm-12 mx-auto">
    <h5 class="alert alert-heading">
        <i class="fa fa-paper-plane mr-2"></i>
        Email de confirmation envoyé 
    </h5>
    <p>
        Votre compte a été créé, veuillez suivre les instructions contenus dans l'email que nous vous avons envoyé.<br />
    </p>
    <hr>
    <p class="text-right">
        <em>A bientôt sur SnowTricks !</em>
    </p>
</alert>
{% endblock %}