{% include "backend/base.html.twig" %}
{% block body %}
<h1 class="col-12">
    <i class="fa fa-plus-circle mr-2"></i>
    Nouveau groupe de trick
</h1>
<div class="col-lg-6 col-sm-12 mx-auto">
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.label) }}
        </div>
        <div class="form-group text-right">
            {{ form_widget(form.register) }}
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}