<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title ?? 'SnowTricks' }}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('backend-global') }}
        {% endblock %}
    </head>
    <body>        
        {% include "backend/menu/base.menu.html.twig" %}
        {% include "include/flash.html.twig" %}
        <div class="container-fluid">
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('backend-global') }}
        {% endblock %}
    </body>
</html>
