/**
 * Html, Body
 */
html {
    min-height: 100%;
}
body {
    min-height: 100%;
}

.preloader {
    height: 50%;
    text-align: center;
    padding: 5em;
    margin: auto;
    width: 100%;
    position: absolute;
    z-index: 20000;
}
.preloader i {
    font-size: 5em;
}
.preloader::after {
    content: 'Chargement en cours';
    display: block;
}

.hide {
    display: none;
}

.rotate {
    transition: all 2s;
    animation: rotate 2s linear .1s infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

/**
 * Homepage
 */
#homepage-section {
    background-image: url('../../public/img/homepage.jpg');
    background-position: center top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 0px;
}

#homepage-arrow {
    background: white;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: 7%;
    right: 3%;
    transition: all 1s;
    opacity: 0.3;
}

#homepage-arrow:hover {
    opacity: 1;
    cursor: pointer;
}

#trick-arrow {
    position: absolute;
    right: 3%;
    bottom: 5%;
    border-radius: 50%;
    padding: 3px 6px;
    transition: all .5s;
}
#trick-arrow:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
}
.trick-bloc .wrapper-img {
    border-radius: 4px 4px 0px 0px;
}
.trick-bloc .wrapper-img img {
    border-radius: 4px 4px 0px 0px;
}

/**
 * Alert
 */
.alert-flash {
    position: absolute !important;
    width: 100%;
    border-radius: 0px 0px 4px 4px !important;
    z-index: 10000;
}

/**
 * Trick View 
 */
 #trick-section {
     border-radius: 4px 4px 0px 0px;
 }
.trick-header {
    min-height: 550px;
    background-position: center top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.trick-header h1 {
    border-radius: 4px 4px 0px 0px;
    position: absolute;
    top: calc(550px / 4);
    width: 100%;
    text-align: center;
}
.trick-view-iframe {
    padding: 0%;
}
.trick-view-iframe iframe {
    height: 100% !important;
    width: 100% !important;
}

.r0 {
    transform: rotate(0deg);
}
.r180 {
    transform: rotate(180deg);
}

@keyframes show  {
    from {
        opacity: 0;
        font-weight: 0;
    } to {
        opacity: 1;
        font-weight: 900;
    }
}
.delete-image {
    transition: all .3s;
}
.delete-image:hover {
    border-radius: 50%;
    cursor: pointer;
}
.img-avatar {
    height: 50px;
    width: 50px;
}
/**
 * Formulaires
 */
 .invalid-feedback .form-error-message {
    font-size: 15px;
}
.invalid-feedback .form-error-icon {
    padding: 5px;
    font-size: 12px;
}
.invalid-feedback .form-error-icon::before {

    font-family: "FontAwesome";
    content: "\f071";
    margin-right: 5px;
    animation-duration: 3s;
    animation-name: show;
}
textarea.form-control {
    min-height: 150px;
}
.custom-file-label {
    color: black;
}
.custom-file-label::after {
    border-radius: 0px;
    content: "Parcourir";
}
.bloc-iframe {
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all .5s;
}
.bloc-iframe {
    text-align: right;
}
.bloc-iframe .fa-trash {
    transition: all .5s;
}
.bloc-iframe .fa-trash:hover {
    cursor: pointer;
    transform: scale(1.5, 1.5);
    color: red;
}
iframe {
    max-height: 100% !important;
    min-height: 219px;
    max-width: 100% !important;
}

/**
 * User avatar picture
 */
.avatar-small {
    max-height: 18px;
    max-width: 18px;
}

/**
 * Footer
 */

#main-footer {
    opacity: 0;
    width: 100%;
}
.footer-fix {
    position: fixed;
    bottom: 0;
}

#mobileNavbar {
    position: fixed;
    bottom: 0;
    z-index: 500000;
    left: 0;
    width: 100%;
}

@media all and (max-width: 767px) {
    #mainNavbar {
        display: none !important;
    }
    #container {
        margin-bottom: 15px;
    }
    #main-footer {
        margin-bottom: 63px;
    }
    #homepage-arrow {
        bottom: 9%;
    }
    .trick-header {
        min-height: 350px;
    }
}