.invalid-feedback .form-error-message {
    font-size: 15px;
}
.invalid-feedback .form-error-icon {
    padding: 5px;
    font-size: 12px;
}
.invalid-feedback .form-error-icon::before {

    font-family: "FontAwesome";
    content: "\f071";
    margin-right: 5px;
    animation-duration: 3s;
    animation-name: show;
}

@keyframes show  {
    from {
        opacity: 0;
        font-weight: 0;
    } to {
        opacity: 1;
        font-weight: 900;
    }
}
.delete-image {
    transition: all .3s;
}
.delete-image:hover {
    border-radius: 40%;
    cursor: pointer;
}

/**
 * Formulaires
 */
.custom-file-label {
    color: black;
}
.custom-file-label::after {
    border-radius: 0px;
    content: "Parcourir";
}
.preview-photo::after {
    content: 'X';
    font-size: 55px;
    width: 100%;
    border: solid red;
}