{% extends "backend/base.html.twig" %}
{% block body %}
<h1 class="col-12">
    {% if app.request.attributes.get('_route') == 'app_admin_user_new' %}
    <i class="fa fa-plus-circle mr-2"></i>
    Nouvel utilisateur
    {% else %}
    <i class="fa fa-pencil mr-2"></i>
    Mise à jour
    {% endif %}
</h1>
<div class="col-lg-6 col-sm-12 mx-auto">
    {{ form_start(form) }}
    
    {{ form_end(form) }}
</div>
{% endblock %}