<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>{{ username }},</h1>
        <blockquote>
            Une demande de réinitialisation de mot de passe à été effectué en utilisant cette adresse email.
        </blockquote>
        <p>
            Pour accéder au formulaire de réinitialisation veuillez suivre ce <a href="{{ url('app_security_checkpasswordtoken', {passwordToken: token}) }}">lien</a>.
        </p>
    </body>
</html>